<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @item.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @item.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @item.price %>
</p>

<p>
  <strong>Next available date:</strong>
  <%= @item.next_available_date %>
</p>

<p>
  <strong>Street:</strong>
  <%= @item.street %>
</p>

<p>
  <strong>Suburb:</strong>
  <%= @item.suburb %>
</p>

<p>
  <strong>Postcode:</strong>
  <%= @item.postcode %>
</p>

<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
